{%load static%}
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Mypage</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type = "text/css" href = "{% static 'travel/css/home.css'%}"/>
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-info">
                <a class="navbar-brand" href="{%url 'home'%}"><h1>HOME</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav">
                    {%if user.is_authenticated%}
                    <li class="nav-item px-4 active">
                      <a class="nav-link disabled" href="#">{{user.username}}님 환영합니다.<span class="sr-only">(current)</span></a>
                    </li>
                    {%endif%}
                    <li class="nav-item px-4">
                      <a class="nav-link" href="#">아직</a>
                    </li>
                    <li class="nav-item px-4">
                      <a class="nav-link" href="#">뭘할지</a>
                    </li>
                    {%if user.is_authenticated%}
                    <li class="nav-item px-4">
                      <a class="nav-link" href="{% url 'logout' %}">로그아웃하기</a>
                    </li>
                    {%else%}
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'login' %}">로그인/회원가입<span class="sr-only">(current)</span></a>
                    </li>
                    {%endif%}
                  </ul>
                </div>
            </nav>
        {%block content%}
        {%endblock%}
    </body>
</html>