{%extends 'travel/base.html'%}
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang = "kor">
    <head>
        <meta charset = "utf-8">
        <title>writing</title>
    </head>

    <body>
        <header>
            <p>후기 수정 중!</p>
        </header>
        {%if user.is_authenticated%}
        <div id="form">
            <form method="POST" class="post-form">{% csrf_token %}
                {{form.as_p}}
                <button type="submit" class = "save btn btn-default">Save</button>
            </form>
        </div>
        {%else%}
        <div class="warning">
            <div class="warning">
                <h2>로그인 후 이용하실 수 있습니다.</h2>
                <a href="{%url 'login'%}">로그인/가입하기</a>
            </div>
        </div>
        {%endif%}
        <footer>
            <p>made by <Strong>HIGONY</Strong></p>
        </footer>
    </body>
</html>
{%endblock%}