{%extends 'travel/base.html'%}
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang = "kor">
    <head>
        <meta charset = "utf-8">
        <title>Home</title>
        <link rel="stylesheet" type = "text/css" href = "{% static 'travel/css/home.css'%}"/>
    </head>
    <body>
        <header>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div id="home-img1" class="carousel-item home-img-display active"></div>
                <div class="carousel-caption d-none d-md-block">
                    <div id="title"><p>여행의 모든 후기를 담다</p></div>
                    {%if user.is_authenticated%}
                    <a href = "{% url 'new' %}">후기 작성하러 가기! click</a><br>
                    <a href = "{% url 'lists' %}"> 후기 보러 가기! click</a>
                    {%else%}
                    <h3>오른쪽 상단에 로그인/회원가입을 해주세요!</h3>
                    {%endif%}
                </div>
            </div>
        </header>
        <footer>
            <p>made by <Strong>HIGONY</Strong></p>
        </footer>
    </body>
    {%endblock%}
</html>