{%extends 'travel/base.html'%}
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang = "kor">
    <head>
        <meta charset = "utf-8">
        <title>writing</title>
    </head>

    <body>
        <header>
        
                <div id="title"><h2>여행의 모든 후기를 담다</h2></div>
                <p>후기 작성 중!</p>
        </header>
        <div id="form">
            <form method = 'POST' class="post-form"> {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Save</button>
            </form>
        </div>
        <footer>
            <p>made by <Strong>HIGONY</Strong></p>
        </footer>
    </body>
    {%endblock%}
</html>